@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:white;
  padding:15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 650px;
  width: 100%;
  height: 100vh;
  margin:0 auto;

}
.poster{
    width: 720px;
    height: 1000px;
    background-color:#DDE0D5;
    gap:15px;
    padding: 15px;
    display: grid;  
    grid-template-columns: 2.5fr 1fr ;
    grid-template-rows: 1.2fr 4.2fr 3.8fr ;
}
.header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: black;
    color: #DDE0D5;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}
.header__left{
    display: flex;
    gap: 40px;
}
.middle__left{
    grid-area: 2 / 1 / 3 /2;
    background-color: #F04011;
    
}
.middle__left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 200px;
    font-weight: bold;
    padding: 5px;   
}
.middle__right{
    grid-area: 2 / 2 / 3 / -1;
    background-color: #F04011;
}

.bottom{
    grid-area: 3 / 1 / -1 / span 2;
    background-color: #F04011;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 5px;
}

.up{    
    font-size: 190px;
    font-weight: bold; 
      
}
.down{
    margin: 10px;
    color:#DDE0D5;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3;
}