@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body{
    height: 800px;//100vh;
    width: 1300px;//100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster{
    height: 90%;
    width: 90%;
    background-color: white;
    display: grid;
    grid-template-rows: 20fr 520fr;     
}

header{
    grid-row: 1 /2;
    background-color:#BDBEC0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17%;
    .dots{
        height: 100%;
        width: 10%;
        display: flex;
        padding: 0.1%;
        padding-left: 1.5%;
        gap: 7%;
        justify-content: flex-start;
        align-items: center;
        .dot{
            height: 10px;
            width: 10px;
            border-radius: 50%;                
            border: 1px solid rgba($color: black, $alpha: 0.5);
            background-color: transparent;
        }
    }

    .long{            
        width: 44%;
        height: 60%;
        border-radius: 5px;
        border: 1px solid rgba($color: black, $alpha: 0.5);            
        background-color: transparent;

    }
}

.main{
    grid-row: 2 /-1;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    .color{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
        width: 100%;        
        .color__black{
            grid-area: 1/1/2/2;
            background-color: #000000;
            color: white;
            padding: 4%;                
            display: flex;
            flex-direction: column;
            gap: 3px;
            font-size: 180%;
            font-weight: 600;
            letter-spacing: 1px;
            .color__black__changes:nth-child(2n -1){
                transform: rotateX(180deg) translateY(-3px);
            }
            .color__black__changes__day{                        
                display: flex;
                justify-content: flex-start;
                gap: 24px;               
                span{
                    display: block;
                }
            }
        }
        .color__puple{
            grid-area: 1/2/2/-1;
            background-color: #6C01FF;
        }
        .color__red{
            grid-area: 2 / 1/span 2 / 2;
            background-color: #FF1502;
            padding: 4%;
            font-size: 150%;
            display: flex;
            flex-direction: column;
            font-weight: 650;
            gap: 5px;
            letter-spacing: 1px;
            .nav{
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .color__white{
            grid-area: 2 / 2/ span 1/span 1;
            background-color: #FFFFFF;
        }
        .color__yellow{
            grid-area: 3 / 2/ span 1/span 1;
            background-color: #FFC904;
            padding: 4%;
            font-size: 150%;
            display: flex;
            flex-direction: column;
            font-weight: 650;
            letter-spacing: 1px;
        }
    }

    .lists{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 2% 3% 1% 3%;
        font-weight: 600;
        
        .list{
            display: flex;
            flex-direction: column;
            gap: 13px;
            line-height: 23.5px;
            div{
                font-size: 14px;
            }
            p{
                font-size: 19px;
            }
            span{
                background-color: #6C01FF;
            }
        }
    }
}